[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/bullet"]
	path = external/bullet
	url = https://github.com/bulletphysics/bullet3.git
